@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
div {
  color: #222222;
  font-size: 30em;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}
div::before {
  content: "";
  position: absolute;
  width: 0.9em;
  height: 0.85em;
  top:0.5em;
  left: 1.59em;
  background-color: rgb(252, 162, 177);
  z-index: -1;
}
